<%- include("templates/encabezado")%>
<link rel="stylesheet" href="../web/css/estiloAlumno.css">
<div>
  <h1>Datos del Alumno</h1>
  <p>Nombre: <%= alumno %></p>
  <p>Grupo: <%= grupo %></p>
  <p>Cuatrimestre: <%= cuatrimestre %></p>
  <p>Para terminar la carrera te faltan: <%= faltante %> cuatrimestres</p>
</div>
<%- include("templates/pie")%>